<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }} - tanchao's blog</title>
   <meta name="author" content="Chao Tan" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="{{BATH_PATH}}/css/screen.css" type="text/css" media="screen, projection" />
</head>
<body>

<div class="site">
  <div class="title">
    <h1><a href="/">tanchao's blog</a></h1>
  </div>

  <div class="about">
    <h1>About Me</h1>
    My name is Chao Tan. I never imagined to be a software engineer when I was young, but here I am. I build platforms that are reliable and performant. I enjoy art, food, basketball, swimming and skiing.<br/><br/>

    I'm currently an engineer at Snowflake in Bellevue, where I work on data privacy and governance. Before that, I worked on Amazon Alexa owning APIs, services and 3P orchestration.<br/>

    All opinions are my own.
    <h1>Links</h1>
    <a href="https://twitter.com/chaostan">@chaostan on Twitter</a>
  </div>

  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        Chao Tan<br />
        The opinions on this site are my own. They do not necessarily represent those of my employer.<br />
        chaos.tc@gmail.com
      </p>
      <p>
	    <a href="https://tanchao.xyz/rss.xml"><img src="/images/feed-icon-14x14.png" /> RSS</a>
	    <a href="https://tanchao.xyz/atom.xml"><img src="/images/feed-icon-14x14.png" /> Atom</a>
      </p>
    </div>
    <div class="license">
      <!-- <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br /> -->
      This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
    </div>
  </div>
</div>

</body>
</html>
